# URLs de los microservicios
VITE_API_INVENTARIO_URL=http://localhost:8081
VITE_API_PEDIDOS_URL=http://localhost:8082
VITE_API_TRANSPORTISTAS_URL=http://localhost:8083
VITE_API_ENVIOS_URL=http://localhost:8084

# Credenciales Basic Auth
VITE_API_USERNAME=user
VITE_API_PASSWORD=password
